body {
    width: 1536px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  width: 0; /* Set the width of the vertical scrollbar */
  height: 0; /* Set the height of the horizontal scrollbar */
}

.home {
    width: 100%;
    background: #ffffff;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 47%, rgba(0, 0, 0, 1) 47%, rgba(0, 0, 0, 1) 100%);
}

.homecreative {
    color: #000000;
  background: linear-gradient(180deg, rgb(0, 0, 0) 68%, rgb(255, 255, 255) 68%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
}

.about {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}


.resumedownload {
  align-items: center;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
  position: relative;
  z-index: 40;
}

.resumedownload:before {
  background-color: #000000;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.resumedownload:hover:before {
  background-color: #000000;
  width: 3rem;
}

/* about me btn */ 
.fancy {
 background-color: transparent;
 border: 2px solid #f97316;
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 float: right;
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 1.25em 2em;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.fancy::before {
 content: " ";
 width: 1.5625rem;
 height: 2px;
 background: #f97316;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-decoration: none;
 color: #f97316;
}

.fancy .top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #000000;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #000000;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #000000;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
 color: white;
 background: #f97316;
}

.fancy:hover::before {
 width: 0.9375rem;
 background: white;
}

.fancy:hover .text {
 color: white;
 padding-left: 1.5em;
}

.fancy:hover .top-key {
 left: -2px;
 width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
 right: 0;
 width: 0;
}

.abouttitle {
  background-image: url('./assets/myaboutbg.png'); /* Your desired image */
  background-size: cover; /* Ensures the image covers the text area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: -590px; /* Centers the image */
  -webkit-background-clip: text; /* Clip the background to the text (for Webkit browsers) */
  background-clip: text; /* Clip the background to the text (for other browsers) */
  color: transparent; /* Make the text transparent to reveal the background image */
  font-size: 153px; /* Adjust font size for better visibility */
  font-weight: bold;
  text-align: center; /* Center the text */
  width: 220px;
  height: 100%;
  line-height: 140px;
  display: flex;
  align-items: center; /* Vertically center the text */
}

.skillimage {
  transition: all 0.5s cubic-bezier(.77,0,.18,1);
  opacity: 0.2;
  z-index: 1;
}

.skillimage.scale-125 {
  transform: scale(1.3);
  opacity: 1;
  z-index: 20;
}

/* portfolio card */

.portfoliocard {
  /* width: 190px; */
  /* height: 254px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.portfoliocard .content {
  border-radius: 5px;
  background: #171717;
  /* width: 186px;
  height: 250px; */
  width: 99%;
  height: 99%;
  z-index: 1;
  padding: 20px;
  color: white;
}

.content::before {
  opacity: 0;
  transition: opacity 400ms;
  content: " ";
  display: block;
  background: white;
  width: 50px;
  height: 50px;
  position: absolute;
  filter: blur(50px);
}

.portfoliocard:hover .content::before {
  opacity: 1;
}

.portfoliocard::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  /* width: 120px;
  height: 360px; */
  width: 80%;
  height: 200%;
  background: linear-gradient(
    90deg,
    transparent,
    #ff2288,
    #387ef0,
    transparent
  );
  transition: opacity 300ms;
  animation: rotation_9018 5000ms infinite linear;
  animation-play-state: paused;
}

.portfoliocard:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.portfoliocard::after {
  position: absolute;
  content: " ";
  display: block;
  /* width: 190px;
  height: 254px; */
  width: 83%;
  height: 150%;
  background: #17171733;
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* portfolio link btn */ 
.portfolio-button {
  border: none;
  background: none;
  cursor: pointer;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-button span {
  padding-bottom: 7px;
  font-size: 14px;
  padding-right: 15px;
}

.portfolio-button svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  color: white;
  fill: white;
}

.portfolio-button:hover svg {
  transform: translateX(0);
}

.portfolio-button:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.portfolio-button:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.selfprojectparent {
  width: 100%;
  padding: 20px;
  perspective: 1000px;
}

.selfpjcard {
  padding-top: 50px;
  /* border-radius: 10px; */
  border: 3px solid #141414;
  transform-style: preserve-3d;
  background: linear-gradient(135deg, #0000 18.75%, #f3f3f3 0 31.25%, #0000 0),
    repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%, #141414 0 18.75%);
  background-size: 60px 60px;
  background-position:
    0 0,
    0 0;
  background-color: #141414;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.selfpjcard:hover {
  background-position:
    -100px 100px,
    -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.selfpjcontent-box {
  height: 270px;
  background: #f97316;
  /* border-radius: 10px 100px 10px 10px; */
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

.selfpjcontent-box .selfpjcard-title {
  display: inline-block;
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.selfpjcontent-box .selfpjcard-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.selfpjcontent-box .selfpjcard-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.selfpjcontent-box .selfpjcard-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.selfpjcontent-box .selfpjsee-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: #f97316;
  /* border-radius: 5px; */
  background: #ffffff;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.selfpjcontent-box .selfpjsee-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.selfpjdate-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: auto;
  background: #ffffff;
  /* border-radius: 10px; */
  padding: 10px 20px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.selfpjdate-box span {
  display: block;
  text-align: center;
}

.selfpjdate-box .selfpjmonth {
  color: #f97316;
  font-size: 9px;
  font-weight: 700;
}

.selfpjdate-box .selfpjdate {
  font-size: 20px;
  font-weight: 900;
  color: #f97316;
}

.contact-info {
  color: white;
}

/* contact form */ 
.form-container {
  width: 500px;
  background: linear-gradient(#f68f46, #f68f46) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* .form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #cecece;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #d7d5d5;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
} */

/* From Uiverse.io by liyaxu123 */ 
.contact-form-control {
  position: relative;
  margin: 10px 0 40px;
  width: 400px;
}

.contact-form-control input,.contact-form-control textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.contact-form-control input:focus,
.contact-form-control input:valid,
.contact-form-control textarea:focus,
.contact-form-control textarea:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.contact-form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.contact-form-control label span {
  display: inline-block;
  font-size: 14px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-form-control input:focus+label span,
.contact-form-control input:valid+label span,
.contact-form-control textarea:focus+label span,
.contact-form-control textarea:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

/* svg loader in menu */ 
.svg-frame {
  position: relative;
  width: 400px;
  height: 500px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.5;
}

.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: 0;
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #f97316;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #f97316;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

/* hamburgae menu */ 
.hamburger {
  cursor: pointer;
  z-index: 999999;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* portfolios */ 
.portfolio-item-title {
  color: #452c2c00;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c00;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  height: 400px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #e0e0e0;
}

.portfolio-item:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #aa4701, #f27922);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.portfolio-item:hover:before {
  transform: scale(60);
}

.portfolio-item:hover .small-desc {
  transition: all 2s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.portfolio-item:hover .portfolio-item-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}

.portfolio-items-container {
display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 5px;
  width: 100%;
}

/* .portfolio-grid1 { grid-area: 1 / 1 / 2 / 3; }
.portfolio-grid2 { grid-area: 1 / 3 / 2 / 6; }
.portfolio-grid3 { grid-area: 2 / 1 / 3 / 4; }
.portfolio-grid4 { grid-area: 2 / 4 / 3 / 6; }I want to make like that style with dynamicallly */


.aboutheader {
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 71%, rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 1) 100%);
}

/* From Uiverse.io by MikeAndrewDesigner */ 
.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 300px;
  height: 370px;
  border-radius: 3px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#868686,#ffffff 60%,#c0c0c0);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.name {
  font-size: 100px;
  font-weight: 600;
  position: relative;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 4000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 100s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.timeline-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  background: #3498db;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-item {
  position: relative;
  width: 45%;
  margin-bottom: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 55%;
}

.liness:nth-child(1) {
  height: 256px;
}

/* contact btn */ 
.contact-fancy {
 background-color: transparent;
 border: 2px solid #ffffff;
 border-radius: 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 float: left;
 font-weight: 700;
 letter-spacing: 0.05em;
 margin: 0;
 outline: none;
 overflow: visible;
 padding: 1.25em 2em;
 position: relative;
 text-align: center;
 text-decoration: none;
 text-transform: none;
 transition: all 0.3s ease-in-out;
 user-select: none;
 font-size: 13px;
}

.contact-fancy::before {
 content: " ";
 width: 1.5625rem;
 height: 2px;
 background: #ffffff;
 top: 50%;
 left: 1.5em;
 position: absolute;
 transform: translateY(-50%);
 transform-origin: center;
 transition: background 0.3s linear, width 0.3s linear;
}

.contact-fancy .contact-text {
 font-size: 1.125em;
 line-height: 1.33333em;
 padding-left: 2em;
 display: block;
 text-align: left;
 transition: all 0.3s ease-in-out;
 text-decoration: none;
 color: #ffffff;
}

.contact-fancy .contact-top-key {
 height: 2px;
 width: 1.5625rem;
 top: -2px;
 left: 0.625rem;
 position: absolute;
 background: #f68f46;
 transition: width 0.5s ease-out, left 0.3s ease-out;
}

.contact-fancy .contact-bottom-key-1 {
 height: 2px;
 width: 1.5625rem;
 right: 1.875rem;
 bottom: -2px;
 position: absolute;
 background: #f68f46;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.contact-fancy .contact-bottom-key-2 {
 height: 2px;
 width: 0.625rem;
 right: 0.625rem;
 bottom: -2px;
 position: absolute;
 background: #f68f46;
 transition: width 0.5s ease-out, right 0.3s ease-out;
}

.contact-fancy:hover {
 color: #f68f46;
 background: #fffdfc;
}

.contact-fancy:hover::before {
 width: 0.9375rem;
 background: #f68f46;
}

.contact-fancy:hover .contact-text {
 color: #f68f46;
 padding-left: 1.5em;
}

.contact-fancy:hover .contact-top-key {
 left: -2px;
 width: 0px;
}

.contact-fancy:hover .contact-bottom-key-1,
 .contact-fancy:hover .contact-bottom-key-2 {
 right: 0;
 width: 0;
}

.admin {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 90vh;
}

.admin-line {
  height: 3px;
  border-radius: 13px;
}

/* admin inputs */ 
/* Input container */
.admin-input-container {
  position: relative;
}

/* Input field */
.admin-input-field {
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.admin-input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.admin-input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.admin-input-field:focus + .admin-input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.admin-input-field:focus + .admin-input-label + .admin-input-highlight {
  width: 70%;
}

/* admin form btn */ 
.admin-form-btn {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  border-radius: 15px;
}

.admin-form-btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 2px solid royalblue;
  border-radius: 15px;
}

.admin-form-btn span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.admin-form-btn:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: rgb(140, 169, 255);
}

.admin-form-btn:hover {
  color: white;
}

.admin-form-btn:active span::before {
  background: #2751cd;
}


.homeportfolio {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(5, 1fr);
height: 100vh;
}

.homeportfolio1 { grid-area: 1 / 1 / 4 / 4; }
.homeportfolio2 { grid-area: 1 / 4 / 4 / 7; }
.homeportfolio3 { grid-area: 4 / 1 / 6 / 3; }
.homeportfolio4 { grid-area: 4 / 3 / 6 / 5; }
.homeportfolio5 { grid-area: 4 / 5 / 6 / 7; }

.socialanimation {
  z-index: 9999999999999999;
}

